<app-menu></app-menu>
<div>
  <header class="about-block">
    <nav>
      <div *ngIf="menu">
        <a href="">main</a>
        <a href="">hints</a>
        <a href="">contact</a>
        <a href="">about</a>
      </div>
    </nav>
    <div *ngIf="media.matches" class="burger-menu" (click)="menu = !menu">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg>
    </div>
  </header>

  <section class="section-instruction">
    <div>
      <div class="block-instruction">
        <div>
          <h2>
            <b>step 1</b>
          </h2>
        </div>
        <div class="description">
          <div class="description-text">
            <p>first you have to choose the first car</p>
          </div>
          <div>
            <img src="assets/images/1.png" alt="">
          </div>
        </div>
      </div>

      <div class="block-instruction">
        <div>
          <h2>
            <b>step 2</b>
          </h2>
        </div>
        <div class="description">
          <div class="description-text">
            <p>and choose a second car</p>
          </div>
          <div>
            <img src="assets/images/2.png" alt="">
          </div>
        </div>
      </div>

      <div class="block-instruction">
        <div>
          <h2>
            <b>step 3</b>
          </h2>
        </div>
        <div class="description">
          <div class="description-text">
            <p>now you need to specify the engine capacity, acceleration to 100 per second and horsepower</p>
          </div>
          <div>
            <img src="assets/images/3.png" alt="">
          </div>
        </div>
      </div>

      <div class="block-instruction">
        <div>
          <h2>
            <b>step 4</b>
          </h2>
        </div>
        <div class="description">
          <div class="description-text">
            <p>you can now view the characteristics of both cars and click the test button to test them</p>
          </div>
          <div>
            <img src="assets/images/4.png" alt="">
          </div>
        </div>
      </div>

      <div class="block-instruction">
        <div>
          <h2>
            <b>step 5</b>

          </h2>
        </div>
        <div class="description">
          <div class="description-text">
            <p>to start the game press start and quickly press enter to drive the first car and space bar to drive the second car</p>
          </div>
          <div>
            <img src="assets/images/5.png" alt="">
          </div>
        </div>
      </div>

      <div class="block-instruction">
        <div>
          <h2>
            <b>step 6</b>
          </h2>
        </div>
        <div class="description">
          <div class="description-text">
            <p>then you can view the results on the main page</p>
          </div>
          <div>
            <img src="assets/images/6.png" alt="">
          </div>
        </div>
      </div>

      <div class="block-instruction">
        <div>
          <h2>
            <b>step 7</b>
          </h2>
        </div>
        <div class="description">
          <div class="description-text">
            <p>you can also view your profile</p>
          </div>
          <div>
            <img src="assets/images/7.png" alt="">
          </div>
        </div>
      </div>

      <div class="block-instruction">
        <div>
          <h2>
            <b>step 8</b>
          </h2>
        </div>
        <div class="description">
          <div class="description-text">
            <p>in the profile you can still see the cars you like</p>
          </div>
          <div>
            <img src="assets/images/8.png" alt="">
          </div>
        </div>
      </div>

      <div class="block-instruction">
        <div>
          <h2>
            <b>step 9</b>
          </h2>
        </div>
        <div class="description">
          <div class="description-text">
            <p>you can edit your profile on the edit page</p>
          </div>
          <div>
            <img src="assets/images/9.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
