@import "../global-style/global-style";

p{
  letter-spacing: 1px;
  text-shadow: 0 0 25px $red;
  text-transform: uppercase;
  text-align: center;
  padding: 1%;
  color: $white;
  @media (max-width: 700px) {
    padding: 0 15%;
    font-size: calc(12px + (16 - 12) * (100vw - 320px) / (1200 - 320));
  }
}

//.block-instruction{
//  max-width: 1920px;
//  margin: 0 auto;
//  width: 100%;
//  background: $black;
//  opacity: .9;
//  border-bottom: 2px solid $red;
//
//  .description{
//    display: grid;
//    grid-template-columns: 1fr 2fr;
//    @media (max-width: 700px) {
//      display: block;
//      text-align: center;
//    }
//  }
//
//  .description-text{
//    display: flex;
//    align-items: center;
//  }
//  img{
//    width: 50%;
//    float: right;
//    margin-right: 5%;
//    padding: 10%;
//    @media (max-width: 700px) {
//      float: none;
//      margin: 0 auto;
//      padding: 0;
//    }
//  }
//}

.slider{
  height: 100vh;
  display: flex;
  align-items: center;
  img{
    width: 50%;
    @media (max-width: 600px) {
      width: 70%;
    }
  }
  .block-slider-image{
    display: flex;
    justify-content: center;
    align-items: center;
    button{
      padding: 1%;
      @media (max-width: 600px) {
        padding: 3% 2%;
      }
    }
  }
}


