<div>
  <div>
    <button (click)="svc.message = false">x</button>
  </div>
  <div>
    <div class="block-messages">
      <div class="messages" *ngFor="let message of svc.user.messages">
        <p>
          <b>{{message.name}}:</b> {{message.message}}
        </p>
      </div>
    </div>
    <div>
      <textarea #messageValue name="message" id="" rows="5" [value]="'Hello admin!'"></textarea>
    </div>
    <div>
      <button (click)="sendMessage(messageValue.value)">send</button>
    </div>
  </div>
</div>
