<app-menu>
  <div class="block-menu-button" *ngIf="!svc.user">
    <div>
      <button id="button-log-auth" (click)="router.navigate(['/megane'])">
        about
      </button>
    </div>
    <div>
      <button id="button-log-auth" (click)="router.navigate(['/auth'])">
        signup
      </button>
    </div>
    <div>
      <button id="button-log-auth" (click)="router.navigate(['/login'])">
        log in
      </button>
    </div>
  </div>
</app-menu>

<div class="block-main">
  <div class="block-img-theme">
    <div>
      <img src="/assets/megane.jpg" alt="">
    </div>
    <div class="block-title">
      <div>
        <h1>renault megane</h1>
      </div>
      <div>
        <p>
          Renault Mégane is a small family car produced by Renault,
        </p>
        <p>
          which was released in 1995 to replace the Renault
          19.
        </p>
      </div>

    </div>
  </div>
  <div class="block-text">
    <div>
      <p>
        The Renault Mégane is a small family car produced by the French car manufacturer Renault since the end of 1995
        and
        was the successor to the Renault 19. The Mégane was offered in three and five door hatchback, saloon, coupe,
        cabriolet and estate body styles at various points in its life, and having survived three generations, now in
        its
        fourth incarnation.
        The first generation was largely based on its predecessor, the 19, and used modified versions of that car's
        drivetrain and chassis.
        In November 1996, the Mégane Senik compact MPV was introduced, using the same mechanical components as the
        Mégane
        hatchback. In 2002, the Mégane entered its second generation with a substantial redesign and was voted European
        Car
        of the Year for 2003, while also becoming the first car in its class to receive a five-star EuroNCAP rating.
        The Mégane entered its third generation in 2008 using another completely different design; the saloon version of
        the
        Mégane became the Renault Fluence for this generation and was introduced in 2009. The fourth generation Mégane
        was
        released in 2015 and sales began in 2016.
      </p>
    </div>
    <div class="block-text-img">
      <img src="/assets/megane-image2.jpg" alt="">
    </div>
  </div>
</div>
