@import "src/app/components/global-style/global-style.scss";

h2{
  text-align: center;
}

p{
  display: initial;
}

.cars-content-liked{
  @media (max-width: 500px) {
    display: block;
    color: $white;
    text-align: left;
  }
}

.content div{
  padding: 10px 0;
}

.block-cars-liked{
  text-align: center;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  //@media (max-width: 500px) {
  //  display: flex;
  //  justify-content: space-around;
  //  flex-direction: initial;
  //  padding: 0;
  //}
}

.del-button{
  font-size: 8px;
  @media (max-width: 800px) {
    margin-top: calc(10% - 14px);
  }
}

img{
  width: 30%;
  border-radius: 5px;
  //@media (max-width: 500px) {
  //  width: 20px;
  //  height: 20px;
  //  margin: 0 5px;
  //  border-radius: 2px;
  //}
}

