<header class="menu">
  <div class="logo">
    <div class="block-logo-and-title">
      <div class="load">
        <img (click)="svc.navigateTo('/about')" src="assets/images/wheel.png" />
      </div>
      <div>
        <h1 class="title">{{title}}</h1>
      </div>
    </div>

    <div>
<!--      <div id="theme" type="radio" (click)="svc.changeTheme()">-->
<!--        1-->
<!--      </div>-->
    </div>
<!--    <div>-->
<!--      <img src="./assets/images/renaultblack2.jpg" alt="" width="100%" height="100%">-->
<!--    </div>-->
<!--    <div>-->
<!--      <p>cars</p>-->
<!--    </div>-->
  </div>
  <div class="block-buttons">
    <ng-content></ng-content>
    <div class="block-user" *ngIf="svc.user">
      <nav *ngIf="svc.user && !media.matches">
        <div>
          <a (click)="svc.navigateTo('/main')">main</a>
          <a (click)="router.navigate(['/profile'])">profile</a>
          <a (click)="router.navigate(['edit' , svc.user.email, svc.user.password])">edit</a>
          <a (click)="svc.removeUser()">exit</a>
        </div>
      </nav>
      <div class="block-user-image">

      <div>
          <div class="img-true" *ngIf="svc.user.img && media.matches">
            <img class="img-true" [src]="svc.user.img" alt="" width="75" height="75"/>
          </div>

          <div *ngIf="!svc.user.img && media.matches">
            <svg id="user-image" xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
              <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
          </div>
          <div class="submenu">
            <ul>
              <li (click)="svc.navigateTo('/main')">main</li>
              <li (click)="router.navigate(['/profile'])" routerLinkActive="active">profile</li>
              <li (click)="router.navigate(['edit' , svc.user.email, svc.user.password])" routerLinkActive="active">edit</li>
              <li (click)="svc.removeUser()">exit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>


<div *ngIf="svc.modal" class="modal-window">
  <div class="text-modal-window">
    <div>
      <img src="./assets/images/renaultblack2.jpg" alt="">
    </div>
    <div class="title-header">
      <h1>{{title}}</h1>
    </div>
  </div>
  <div>
    <button (click)="svc.modal = !svc.modal">next</button>
  </div>
</div>
